<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <nav th:replace="~{partials :: head}" />
</head>
<body>
<div class="container d-flex justify-content-center ">
    <div class="col-5">
        <form action="#" th:action="@{/users/register}" th:object="${usrObj}" method="post">
            <div class="row">
                <label for="user">Username:</label>
                <input type="text" name="user" id="user">
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="pass">Password:</label>
                    <input type="password" name="pass" id="pass">
                </div>
                <div class="col-6">
                    <label for="pass2">Password:</label>
                    <input type="password" name="pass2" id="pass2">
                </div>
            </div>
            <div class="row">
                <label for="email">eMail:</label>
                <input type="text" name="email" id="email">
            </div>
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>